@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="modal-body">

    <h1>@ViewData["Title"]</h1>

    <p>Denne side er et projekt, vi bruger KUN nødvændige cookies.</p>
    <p>Det vil sige ingen tredjeparter er involveret i dette</p>
</div>
